body {
	margin: 0 auto;
	background: #e6e6e6;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	}


a, a visited {
	color: #0071af;
	text-decoration: none;
	}



.blue-band {
	width:100%;
	background: #0071af; 
	overflow: auto;
	padding: 20px 10px;
	color: #fff;
	box-sizing: border-box;
	}

.nav-band {
	width:100%;
	background: #999; 
	overflow: auto;
	padding: 0 10px;
	box-sizing: border-box;
	}

.grey-band {
	width:100%;
	background: #e6e6e6; 
	overflow: auto;
	padding: 20px 10px;
	box-sizing: border-box;
	}

.footer-band {
	width:100%;
	background: #999; 
	overflow: auto;
	padding: 20px 10px;
	color: #fff;
	box-sizing: border-box;
	}


.content {
	max-width:990px; 
	margin:0 auto; 
}


.title-1 {
	font-size: 2.3em;
}

.title-2 {
	font-size: 2.3em;
}


.strap-line-1 {
	display: block;
	}

.strap-line-2 {
	display: block;
	}


.col65 {
	width:65%;
	float:left;
}

.col35 {
	width:35%;
	float:right;
	text-align: right;
}



.img1 {
	display: inline;
}

.img1 img {
	max-width: 49%;
}

.img2 {
	display: inline;
}

.img2 img {
	max-width: 49%;
}

.hero	{
	font-size: 1.6em;
	color: #0071af;
	text-align: center;
	padding: 20px 75px 0 75px;
}


.col50L {
	width:47%;
	display: inline-block;
	float: left;
	
}

.col50R {
	width:47%;
	display: inline-block;
	float: right;
}

.heading {
	font-size: 1.5em;
	border-bottom: 1px solid;
	padding: 0 0 10px 0;
	clear: both;
}


.para-border-top {
	border-top: 1px solid;
   	padding-top: 20px;
}





@media screen and (max-width:770px) {

.col65, .col50L, .col50R {
	width:100%;
}

.col35 {
  	float:left;
	width:100%;
	text-align: left;
	margin: 0;
}

.nav-band {
	padding: 0;
}

.hero	{
	font-size: 1.4em;
	text-align: center;
	padding: 20px 5px 0 5px;
}

.title-1 {
	font-size: 1.7em;
	text-align: center;
}

.title-2 {
	font-size: 1.1em;
	text-align: center;
	margin: 20px 0 0 0;
}

.strap-line-1 {
	font-size: 0.6em;
	text-align: center;
}

.strap-line-2 {
	display: none;
}

.img1 {
	display: inline;
}

.img1 img {
	max-width: 100%;
}

.img2 {
	display: none;
}


}





/*Strip the ul of padding and list styling*/
#menu  {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Create a horizontal list with spacing*/
#menu li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#menu li a {
	display:block;
	min-width:160px;
	height: 35px;
	text-align: center;
	font-size: 0.9em;
	line-height: 35px;
	color: #fff;
	background: #888;
	text-decoration: none;
}

/*Hover state for top level links*/
#menu li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
#menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
#menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
#menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #666;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 770px){
	/*Make dropdown links appear inline*/
	#menu {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#menu li, li a {
		width: 100%;
		}



	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
